[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
akms-hash = "==0.3.1"
python-dotenv = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2-binary = "*"
pandas = "*"
httpx = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.10"
